<div class="p-8 bg-grey-light min-h-screen h-full w-screen">

    <div class="cards">
        <%= render @ideas %>
    </div>

    <a class="button--fab" href="<%= new_idea_path %>">
        <i class="material-icons">add</i>
    </a>

</div>
