<header id="header" class="px-8 py-4 text-white">
    <a href="<%= root_path %>">SpeakUp</a>
    <% if signed_in? -%>
        <%= button_to t("layouts.application.sign_out"), sign_out_path, method: :delete %>
    <% else -%>
        <%= link_to t("layouts.application.sign_in"), sign_in_path %>
    <% end -%>
</header>