header {
    background: linear-gradient(15deg, $purple, $orange);
    
    a {
        color: $white;
        font-size: 1.4rem;
        opacity: .7;
        text-decoration: none;
        transition: opacity .3s;

        &:hover {
            opacity: 1; 
        }
    }

    form {
        &.button_to {
            display: inline;
            margin: 0;
            padding: 0;
    
            [type="submit"] {
                background: inherit;
                display: inline;
                margin: 0;
    
                &:hover {
                    background: inherit;
                }

                &:focus {
                    border: inherit;
                }
            }
        }
    }
}